<ion-content class="container">
  <ion-card class="contentCard">
    <div class="header">
      <h4>Clima atual</h4>
      <p>{{ currentHour | date:'HH:mm'}}</p>
    </div>

    <div class="containerWeather" *ngIf="objWeather">
      <div class="test">

      </div>
      <div class="infos">
        <h2>{{objWeather.name}}</h2>
        <div class="weather">
          <div class="weatherContent">
            <span class="imgTemp"><img [src]="objWeather?.weather[0]?.iconURL" alt="" /></span>
            <h1>{{objWeather.main.temp}} ºC</h1>
          </div>
          <h1>{{objWeather.weather[0]?.description}}</h1>
        </div>
      </div>
      <div class="prev">
        <span>
          <span><img [src]="objWeather?.weather[0]?.iconURL" alt="" /></span>
        </span>
        <h1>
          {{objWeather.main.temp_min}} ºC / {{objWeather.main.temp_max}} ºC
        </h1>
      </div>
      <div class="items">
        <h3>{{objWeather.wind.speed}} Km/h</h3>
        <h3> <p class="material-symbols-outlined">humidity_mid</p>{{objWeather.main.humidity}} %</h3>
      </div>
    </div>
  </ion-card>
</ion-content>
